.button-css {
    position: relative;
    /* display: inline-block; */
    border: 2px solid transparent;
    border-radius: 8px; /* General border radius */
    background: linear-gradient(#0e0c15, #0e0c15) padding-box, /* Inner solid color */
                linear-gradient(to bottom right, #5eead4, #facc15, #f472b6) border-box;
                /* clip-path: polygon(100% 0%, 0% 0%, 100% 100%); */
    transition: all 0.3s ease-in-out;
  }

  
.button-css:hover{
  color: #571952;
}
  

