@tailwind base;
@tailwind components;
@tailwind utilities;


.message-box{
    scroll-behavior: smooth;
  }
  .message-box::-webkit-scrollbar{
    display: none;
  }


.gutter {
  background-color: #3c3c3c;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.gutter.gutter-vertical {
  cursor: row-resize;
  height: 5px;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #424242;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f;
}